@{
    ViewData["Title"] = "Home Page";
}



    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <div class="row g-5" style="margin-top: 10px">
        <div class="col-md-1" style="width:50%">
            <input type="file" class="form-control" id="importfile" enctype="multipart/form-data" name="arquivo">
        </div>

        <div class="mt-4 col-md-1 p-4" style="margin-left:20px">
            <button type="button" class="btn btn-primary" id="btnImportar" style="color:#ffff; background-color:#208B91">Importar</button>
        </div>
    </div>

    <div class="row g-4">
        <div class="g-4 col-md-4" id="selectImportacao" style="margin-top:30px">
            <label> Tipo Importação </label>
            <select class="form-select" id="tipoimportacao" aria-label="Selecione o Tipo de importação">
                <option></option>
                <option value="1">ID Usuario</option>
                <option value="3">ID Dependente</option>
                <option value="2"> Matricula </option>
            </select>
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>

        <div class="col-md-2 g-4">
            <label for="selectEmpresa" class="form-label">Empresa</label>
            <select class="form-select" id="selectEmpresa">
                <option selected></option>
            </select>
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>

        <div class="col-md-2 g-4">
            <label for="dateDateatendimento" class="form-label">Data Atendimento</label>
            <input type="date" class="form-control" id="dateDateatendimento">
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>

        <div class="col-md-2 g-4">
            <label for="selectUsuario" class="form-label">Usuario</label>
            <select class="form-select" id="selectUsuario">
            </select>
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-2 g-4">
            <label for="selectPrioridade" class="form-label">Prioridade</label>
            <select class="form-select" id="selectPrioridade">
                <option selected>Selecione uma importação</option>
                <option value="1">Crítico/Emergencial</option>
                <option value="2">Moderado/Atenção</option>
                <option value="3">Leve/Rotina</option>
            </select>
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>

        <div class="col-md-2">
            <label for="selectServico" class="form-label">Serviço</label>
            <select class="form-select" id="selectServico">
            </select>
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>

        <div class="col-md-2">
            <label for="selectMotivo" class="form-label">Motivo de Chamada</label>
            <select class="form-select" id="selectMotivo">
            </select>
        </div>

        <div class="col-md-2">
            <label for="selectCanalAtendimento" class="form-label">Canal Atendimento</label>
            <select class="form-select" id="selectCanalAtendimento">
            </select>
        </div>

        <div class="col-md-2">
            <label for="resultadoAtendimento" class="form-label">Resultado Atendimento</label>
            <select class="form-select" id="resultadoAtendimento">
                <option></option>
                <option value="1">Falei</option>
                <option value="2">Tentativa s/sucesso</option>
                <option value="3">Tel errado</option>
                <option value="4">WP/Mail sem resp</option>
                <option value="5">WP/Mail respondido</option>
            </select>
            <span class="field-validation-error" style="color:crimson">
                <span> Campo Obrigatório </span>
            </span>
        </div>

        <div class="col-md-2">
            <label for="selectTipo" class="form-label">TipoAtendimento</label>
            <select class="form-select" id="TipoAtendimento">
                <option></option>
                <option value="0">Ativo</option>
                <option value="1">Receptivo</option>
            </select>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-6">
            <label for="FormRelato" class="form-label">Relato</label>
            <textarea class="form-control" id="FormRelato" rows="3"></textarea>
        </div>

        <div class="col-md-6">
            <label for="FormOrientacao" class="form-label">Orientação</label>
            <textarea class="form-control" id="FormOrientacao" rows="3"></textarea>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-6">
            <label for="matNaoEncontradas" class="form-label">Matriculas Não Encontradas</label>
            <textarea class="form-control" readonly="readonly" id="matNaoEncontradas" rows="3"></textarea>
        </div>

        <div class="col-4 mt-5">
            <div class="form-label">
                <label class="form-label" id="FuncInseridosUi">
                    Funcionarios Inseridos :
                </label>
                <input id="FuncInseridos" type="hidden" />
                <div class="form-label">
                    <label class="form-label" for="AtendInseridos" id="AtendInseridos">
                        Atendimentos Inseridos :
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4" id="btncopyAdd">
        <button type="submit" class="btn btn-primary btn-block" id="btncopiardados" style="color:#ffff; background-color:#208B91">Copiar</button>
        <button type="submit" class="btn btn-primary btn-block" id="btnadicionardados" style="color:#ffff; background-color:#208B91">Adicionar</button>
    </div>
        


    <script>

        $(document).ready(function () {
            $('.field-validation-error').hide();
            $('.row.g-4').hide();
            $('#selectimportacao').hide();
            $('#btncopyadd').hide();


            $('#btnImportar').on('click', function () {
                var tipoImportacao = $('#tipoimportacao').val();
                var fileInput = $('#importfile')[0].files[0];

                if (!fileInput) {
                    alert('Por favor, selecione um arquivo.');
                    return;
                }
                $('.row.g-4').show();
                $('#selectImportacao').show();
                $('#btncopyAdd').show();
                var formData = new FormData();
                formData.append('tipoImportacao', tipoImportacao);
                formData.append('arquivo', fileInput);



                $.ajax({
                    url: '/LeitorArquivo/Importar',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('#FuncInseridos').val(response);
                        $('#FuncInseridosUi').text('Funcionarios Inseridos : ' + response);
                    },
                    error: function (xhr, status, error) {
                        alert('Erro ao importar arquivo');
                        console.error('Erro ao importar arquivo:', error);
                    }
                });
            });
        });

        $.ajax({
            url: 'Chamadas/ListarEmpresas',
            data: null,
            contentType: false,
            method: 'POST',
            success: function (success) {

                var html = '<option> </option>';

                $.each(success, function (index, empresa) {
                    html += '<option value="' + empresa.value + '">' + empresa.text + '</option>';

                });

                $('#selectEmpresa').html(html)
            },
            error: function (error) {

            }
        })

        $('#selectEmpresa').change(function () {
            var selectedEmpresaId = $(this).val();
            $.ajax({
                url: 'Chamadas/ListarServicos',
                data: { empresaId: selectedEmpresaId },
                method: 'GET',
                success: function (servicos) {
                    var html = '<option> </option>';
                    $.each(servicos, function (index, servico) {
                        html += '<option value="' + servico.value + '">' + servico.text + '</option>';
                    });
                    $('#selectServico').html(html);
                },
                error: function (error) {
                    console.error('Erro ao carregar os serviços:', error);
                }
            });

            $('#selectServico').change(function () {
                var selectMotivo = $(this).val();

                $.ajax({
                    url: 'Chamadas/ListMotivoDe',
                    data: { idServico: selectMotivo },
                    method: 'GET',
                    success: function (motivo) {
                        var html = '<option> </option>';
                        $.each(motivo, function (index, motivo) {
                            html += '<option value="' + motivo.value + '">' + motivo.text + '</option>';
                        });
                        $('#selectMotivo').html(html);
                    },
                    error: function (error) {
                        console.error('Erro ao carregar os motivos:', error);
                    }
                });
            });
        });

        $.ajax({
            url: 'Chamadas/ListarUsuarios',
            data: null,
            contentType: false,
            method: 'POST',
            success: function (success) {

                var html = '<option> </option>';

                $.each(success, function (index, usuario) {
                    html += '<option value="' + usuario.value + '">' + usuario.text + '</option>';
                });

                $('#selectUsuario').html(html)
            },
            error: function (error) {

            }
        })

        $.ajax({
            url: 'Chamadas/ListCanalAtendimento',
            data: null,
            contentType: false,
            method: 'POST',
            success: function (success) {

                var html = '<option> </option>';

                $.each(success, function (index, atendimento) {
                    html += '<option value="' + atendimento.value + '">' + atendimento.text + '</option>';

                });

                $('#selectCanalAtendimento').html(html)
            },
            error: function (error) {

            }
        })

        $('#btnadicionardados').click(function () {

            var selects = [
                '#tipoimportacao',
                '#selectEmpresa',
                '#dateDateatendimento',
                '#selectUsuario',
                '#selectPrioridade',
                '#selectServico',
                '#selectMotivo',
                '#selectCanalAtendimento',
                '#resultadoAtendimento',
                '#TipoAtendimento',
                '#FormRelato',
                'FormOrientacao'
            ];

            var isvalid = true;
            $.each(selects, function (index, selectId) {
                var value = $(selectId).val();
                if (!value) {
                    $(selectId).next('.field-validation-error').show();
                    isValid = false;
                } else {
                    $(selectId).next('.field-validation-error').hide();
                }
            });

            if (isvalid == true) {
                var data = {
                    TipoImportacao: $('#tipoimportacao').val(),
                    EmpresaId: $('#selectEmpresa').val(),
                    DataAtendimento: $('#dateDateatendimento').val(),
                    UsuarioId: $('#selectUsuario').val(),
                    Prioridade: $('#selectPrioridade').val(),
                    ResultadoAtd: $('#resultadoAtendimento').val(),
                    selectServico: $('#selectServico').val(),
                    MotivoChamadaId: $('#selectMotivo').val(),
                    CanalAtendimentoId: $('#selectCanalAtendimento').val(),
                    TipoAtendimento: $('#TipoAtendimento').val(),
                    relato: $('#FormRelato').val(),
                    Orientacao: $('#FormOrientacao').val(),
                    matNaoEncontradas: $('#matNaoEncontradas').val(),
                    FuncInseridos: +$('#FuncInseridos').val()
                }

                $.ajax({
                    url: 'Chamadas/InserirDados',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        $('#matNaoEncontradas').val(response.join(','), ('<br>'))
                        alert('Importação realizada');
                    },
                    error: function (xhr, status, error) {
                        console.error('Erro na requisição:', error);
                    }
                });
                return isvalid;
            }
        });

    </script>