@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="row g-5" style="justify-content:space-between">
    <div class="col-md-1" style="width:50%">
        <input type="file" class="form-control" id="importfile" enctype="multipart/form-data" name="arquivo">
    </div>

    <div class="col-md-1">
        <button type="button" class="btn btn-primary" id="btnImportar" style="color:#ffff; background-color:#208B91">Importar</button>
    </div>


    <div class="col-md-5">
        <select class="form-select" id="tipoimportacao" aria-label="Selecione o Tipo de importação">
            <option></option>
            <option value="1">ID Usuario</option>
            <option value="2">ID Dependente</option>
            <option value="3"> Matricula </option>
        </select>
    </div>
</div>

@* ------- ------- *@

<div class="row g-4">
    <div class="col-md-2 g-4">
        <label for="selectEmpresa" class="form-label">Empresa</label>
        <select class="form-select" id="selectEmpresa">
            <option selected></option>
        </select>
    </div>

    <div class="col-md-2 g-4">
        <label for="dateDateatendimento" class="form-label">Data Atendimento</label>
        <input type="date" class="form-control" id="dateDateatendimento">
    </div>


    <div class="col-2 g-4">
        <label for="selectUsuario" class="form-label">Usuario</label>
        <select class="form-select" id="selectUsuario">
        </select>
    </div>

    <div class="col-2 g-4">
        <label for="selectPrioridade" class="form-label">Prioridade</label>
        <select class="form-select" id="selectPrioridade">
            <option selected>Selecione uma importação</option>
            <option value="1">Crítico/Emergencial</option>
            <option value="2">Moderado/Atenção</option>
            <option value="3">Leve/Rotina</option>
        </select>
    </div>

    <div class="col-md-2 g-4">
        <label for="selectResultATD" class="form-label">Resultado Atendimento</label>
        <select class="form-select" id="selectResultATD">
            <option></option>
            <option value="1">Falei Sobre o Problema</option>
            <option value="2">Tentativa s/Sucesso</option>
            <option value="3">Tel errado</option>
            <option value="4">WP/Mail/Tel sem resposta</option>
            <option value="5">WP/Mail/Tel respondido</option>
        </select>
    </div>
</div>

@* ------- ------- *@
<div class="row g-4">
    <div class="col-md-2">
        <label for="selectServico" class="form-label">Serviço</label>
        <select class="form-select" id="selectServico">
        </select>
    </div>

    <div class="col-md-2">
        <label for="selectMotivo" class="form-label">Motivo de Chamada</label>
        <select class="form-select" id="selectMotivo">
        </select>
    </div>

    <div class="col-md-2">
        <label for="selectCanalAtendimento" class="form-label">Canal Atendimento</label>
        <select class="form-select" id="selectCanalAtendimento">
        </select>
    </div>

    <div class="col-md-2">
        <label for="selectTipo" class="form-label">TipoAtendimento</label>
        <select class="form-select" id="TipoAtendimento">
            <option></option>
            <option value="0">Ativo</option>
            <option value="1">Receptivo</option>
        </select>
    </div>
</div>


@* ------- ------- *@

<div class="row g-4">
    <div class="col-md-6">
        <label for="FormRelato" class="form-label">Relato</label>
        <textarea class="form-control" id="FormRelato" rows="3"></textarea>
    </div>

    <div class="col-md-6">
        <label for="FormOrientacao" class="form-label">Orientação</label>
        <textarea class="form-control" id="FormOrientacao" rows="3"></textarea>
    </div>
</div>

<div class="row g-4">

    <div class="col-md-6">
        <label for="matNaoEncontradas" class="form-label">Matriculas Não Encontradas</label>
        <textarea class="form-control" readonly="readonly" id="matNaoEncontradas" rows="3"></textarea>
    </div>

    <div class="col-4 mt-5">
        <div class="form-label">
            <label class="form-label" for="FuncInseridos" id="FuncInseridos">
                Funcionarios Inseridos :
            </label>
            <div class="form-label">
                <label class="form-label" for="AtendInseridos" id="AtendInseridos">
                    Atendimentos Inseridos :
                </label>
            </div>
        </div>
    </div>

</div>



<div class="mt-4">
    <button type="submit" class="btn btn-primary btn-block" id="btncopiardados" style="color:#ffff; background-color:#208B91">Copiar</button>

    <button type="submit" class="btn btn-primary btn-block" id="btnadicionardados" style="color:#ffff; background-color:#208B91">Adicionar</button>
</div>



<script>

    $(document).ready(function () {
        $('#btnImportar').on('click', function () {
            // Obtém o tipo de importação selecionado
            var tipoImportacao = $('#tipoimportacao').val();
                
            // Obtém o arquivo selecionado
            var fileInput = $('#importfile')[0].files[0];

            // Verifica se foi selecionado um arquivo
            if (!fileInput) {
                alert('Por favor, selecione um arquivo.');
                return;
            }

            // Cria um objeto FormData para enviar os dados
            var formData = new FormData();
            formData.append('tipoImportacao', tipoImportacao);
            formData.append('arquivo', fileInput);

            // Faz a requisição AJAX
            $.ajax({
                url: '/LeitorArquivo/Importar', // Substitua 'SeuController' pelo nome do seu controller
                type: 'POST',
                data: formData,
                processData: false, // Não processa os dados (já estão no FormData)
                contentType: false, // Não define o tipo de conteúdo (será multipart/form-data)
                success: function (response) {
                    // Sucesso na requisição
                    console.log('Importação realizada com sucesso.');
                    // Faça o que for necessário com a resposta do servidor
                },
                error: function (xhr, status, error) {
                    // Erro na requisição
                    console.error('Erro ao importar arquivo:', error);
                }
            });
        });
    });

    $.ajax({
        //Chamar endpoit que irá listar tuas empresas
        url: 'Chamadas/ListarEmpresas',
        data: null,
        contentType: false,
        method: 'POST',
        success: function (success) {

            var html = '<option> </option>';

            $.each(success, function (index, empresa) {
                html += '<option id="' + empresa.value + '">' + empresa.text + '</option>';

            });

            $('#selectEmpresa').html(html)
        },
        error: function (error) {

        }
    })


    $.ajax({
        url: 'Chamadas/ListarServicos',
        data: null,
        contentType: false,
        method: 'GET',
        success: function (success) {
            var html = '<option> </option>';
            $.each(success, function (index, servico) {
                html += '<option value="' + servico.value + '">' + servico.text + '</option>';
            });
            $('#selectServico').html(html);
        },
        error: function (error) {

        }
    });


    // Muita maracutaia, select trocou o ID ficou, vai corinthians ;3
    $('#selectServico').change(function () {
        var selectedServicoId = +$(this).val(); // Peguei o valor desse tchola, agora é saber onde usar 💀

        var data = {
            idServico: selectedServicoId
        }


        $.ajax({
            url: 'Chamadas/ListMotivoDe',
            data: data, // Enviar o ID do serviço selecionado
            contentType: 'application/json',
            method: 'GET',
            success: function (success) {
                var html = '<option> </option>';
                $.each(success, function (index, motivo) {
                    html += '<option value="' + motivo.value + '">' + motivo.text + '</option>';
                });
                $('#selectMotivo').html(html);
            },
            error: function (error) {
                // Tratar erros, se necessário
            }
        });
    });


    $.ajax({
        //Chamar endpoit que irá listar tuas empresas
        url: 'Chamadas/ListarUsuarios',
        data: null,
        contentType: false,
        method: 'POST',
        success: function (success) {

            var html = '<option> </option>';

            $.each(success, function (index, usuario) {
                html += '<option id="' + usuario.value + '">' + usuario.text + '</option>';

            });

            $('#selectUsuario').html(html)
        },
        error: function (error) {

        }
    })

    $.ajax({
        //Chamar endpoit que irá listar tuas empresas
        url: 'Chamadas/ListCanalAtendimento',
        data: null,
        contentType: false,
        method: 'POST',
        success: function (success) {

            var html = '<option> </option>';

            $.each(success, function (index, atendimento) {
                html += '<option id="' + atendimento.value + '">' + atendimento.text + '</option>';

            });

            $('#selectCanalAtendimento').html(html)
        },
        error: function (error) {

        }
    })


    
    // var arquivo = $('#importfile')[0].files[0];
    // var fd = new FormData();
    // fd.append('arquivo', arquivo); 
    // fd.append('tipoImportacao', $('#tipoimportacao').val()); 

    // $.ajax({
    //     url: 'LeitorArquivo/Importar',
    //     type: 'POST',
    //     data: JSON.stringify(fd),
    //     processData: false, // Não processar os dados (necessário com FormData)
    //     contentType: 'application/json', // Não definir o tipo de conteúdo (necessário com FormData)
    //     success: function (response) {
    //         console.log('Sucesso, ID válido', response);
    //     },
    //     error: function (xhr, status, error) {
    //         console.log('Requisição mal sucedida', error);
    //     }
    // });




    $('#btnadicionardados').click(function () {
        // Dados genéricos para enviar para o controlador
        var data = {
            TipoImportacao: $('#tipoimportacao').val(),
            EmpresaId: $('#selectEmpresa').val(),
            DataAtendimento: $('#dateDateatendimento').val(),
            UsuarioId: $('#selecUsuario').val(),
            Prioridade: $('#selectPrioridade').val(),
            ResultadoAtd: $('#selectResultATD').val(),
            selectServico: $('#selectServico').val(),
            MotivoChamadaId: $('#selectMotivo').val(),
            CanalAtendimentoId: $('#selectCanalAtendimento').val(),
            TipoAtendimento: $('#TipoAtendimento').val(),
            relato: $('#FormRelato').val(),
            Orientacao: $('#FormOrientacao').val(),
            matNaoEncontradas: $('#matNaoEncontradas').val(),
        };

        // Requisição AJAX para o controlador
        $.ajax({
            url: 'Chamadas/InserirDados',
            type: 'POST',
            data: data,
            success: function (response) {
                console.log('Requisição bem-sucedida:', response);
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição:', error);
            }
        });
    });

</script>






@*  Blud i'm coocked idk how this project is working, scare asf 💀'  *@